@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("~/assets/fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("~/assets/fonts/Sora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("~/assets/fonts/Sora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("~/assets/fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("~/assets/fonts/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("~/assets/fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    "Sora", "Tajawal", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  COLORS
*/
@theme {
  --color-title: var(--title);
  --color-title-alt: var(--title-alt);
  --color-title-secondary: var(--title-secondary);
  --color-title-secondary-alt: var(--title-secondary-alt);
  --color-title-tertiary: var(--title-tertiary);
  --color-title-tertiary-alt: var(--title-tertiary-alt);
  --color-highlight: var(--highlight);
  --color-highlight-alt: var(--highlight-alt);
  --color-paragraph: var(--paragraph);
  --color-paragraph-alt: var(--paragraph-alt);
  --color-paragraph-inverted: var(--paragraph-inverted);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-button: var(--button);
  --color-button-alt: var(--button-alt);
  --color-button-text: var(--button-text);
}

:root,
html.light {
  --title: #344cb7;
  --title-alt: #eef3ff;
  --title-secondary: #f26f14;
  --title-secondary-alt: #f26f14;
  --title-tertiary: #030712;
  --title-tertiary-alt: #030712;
  --highlight: #16329f;
  --highlight-alt: #4dd0ff;
  --paragraph: #444653;
  --paragraph-alt: #d2d8ef;
  --background: #ffffff;
  --background-alt: #344cb7;
  --button: #344cb7;
  --button-text: #eef3ff;
  --button-alt: #f26f14;
}

html.dark {
  --title: #eef3ff;
  --title-alt: #f5efd9;
  --title-secondary: #faa80f;
  --title-secondary-alt: #00c8e8;
  --title-tertiary: #6ee7b7;
  --title-tertiary-alt: #6ee7b7;
  --highlight: #00c8e8;
  --highlight-alt: #faa80f;
  --paragraph: #97abc4;
  --paragraph-alt: #d2d8ef;
  --background: #040c16;
  --background-alt: #061d3d;
  --button: #061d3d;
  --button-alt: #031b27;
  color-scheme: dark;
}

html,
body {
  @apply bg-background font-sans;
}
