@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  COLORS
*/
@theme {
  --color-title: var(--title);
  --color-title-alt: var(--title-alt);
  --color-title-secondary: var(--title-secondary);
  --color-title-secondary-alt: var(--title-secondary-alt);
  --color-title-tertiary: var(--title-tertiary);
  --color-title-tertiary-alt: var(--title-tertiary-alt);
  --color-highlight: var(--highlight);
  --color-highlight-alt: var(--highlight-alt);
  --color-paragraph: var(--paragraph);
  --color-paragraph-alt: var(--paragraph-alt);
  --color-paragraph-inverted: var(--paragraph-inverted);
  --color-app-background: var(--app-background);
  --color-app-background-alt: var(--app-background-alt);
}

:root,
html.light {
  --title: #344CB7;
  --title-alt: #EEF3FF;
  --title-secondary: #F26F14;
  --title-secondary-alt: #F26F14;
  --title-tertiary: #030712;
  --title-tertiary-alt: #030712;
  --highlight: #16329f;
  --highlight-alt: #4DD0FF;
  --paragraph: #444653;
  --paragraph-alt: #D2D8EF;
  --app-background: #FFFFFF;
  --app-background-alt: #344CB7;
}

html.dark {
  --title: #EEF3FF;
  --title-alt: #F5EFD9;
  --title-secondary: #FAA80F;
  --title-secondary-alt: #00C8E8;
  --title-tertiary: #6EE7B7;
  --title-tertiary-alt: #6EE7B7;
  --highlight: #00C8E8;
  --highlight-alt: #FAA80F;
  --paragraph: #97ABC4;
  --paragraph-alt: #D2D8EF;
  --app-background: #040c16;
  --app-background-alt: #061d3d;
  color-scheme: dark;
}

html,
body {
  @apply bg-app-background;
}
